#footer{
    color: white;
}
#extra{
    float: right;
}


/*Cartas de articulos*/
li{
    list-style: none;
}
#carta_articulo{
    min-width: 18rem;
    max-width: 18rem;
    align-items: center;
    margin: 1rem;
}

#carta_articulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
